<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomePage-Admin</title>
  <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/index.css">
  <link rel="icon" href="/public/images/favicon.ico">
  <link href="/public/css/main.css" rel="stylesheet">

</head>
<body>
<nav class="header-top">
  <div class="container">
    <div class="left">
      <a href="/" class="left">
        <img src="/public/images/logo-company-black.webp" height="33" alt="">
      </a>
    </div>
    <a href="/file" class="file-manager">文件管理</a>
    <div class="right">
      {{ if user }}
      <a href="#">Administrator：<span>{{ user.email }} </span></a>
      <a href="/logout">退出</a>
      {{ else }}
      <a href="/login">登录</a>
      {{ /if }}
    </div>
  </div>
</nav>
<div class="container">
  <form action="/newApp" method="POST" id="upLoad1" name="upLoad1" encType="multipart/form-data">
    <h3>New App</h3>
    <div class="form-row">
      <div class="form-group col-md-4 was-validated">
        <label for="appid">appid</label>
          <input type="text" class="form-control" id="appid" name="appid" required minlength="1" onkeyup="keyAppid(this)">
      </div>
      <div class="form-group col-md-2">
        <label for="type">type: 0-Mac, 1-iOS</label>
          <select id="type" name="type" required="required" class="form-control">
            <option selected>0</option>
            <option>1</option>
          </select>
      </div>
      <div class="form-group col-md-2">
        <label for="language">language: 0-EN, 1-ZH</label>
          <select id="language" name="language" required="required" class="form-control" onchange="keyLanguage(this)">
            <option selected>0</option>
            <option>1</option>
          </select>
      </div>
      <div class="form-group col-md-4 was-validated">
        <label for="name">name</label>
          <input type="text" class="form-control" id="name" name="name" required minlength="1">
      </div>
    </div>
    <div class="form-row was-validated">
      <div class="form-group col-md-6">
        <label for="title1">title</label>
        <input type="text" class="form-control" id="title1" name="title" required minlength="1">
      </div>
      <div class="form-group col-md-6">
        <label for="subtitle">subtitle</label>
        <input type="text" class="form-control" id="subtitle" name="subtitle" required minlength="1">
      </div>
      <div class="form-group col-md-12">
        <label for="description1">description</label>
        <textarea class="form-control" id="description1" name="description" required minlength="1" rows="5"></textarea>
        <div class="invalid-feedback">
          Please enter a message in the textarea.
        </div>
      </div>
    </div>
    <div class="form-row was-validated">
      <div class="form-group col-md-6">
        <label for="store_download_link">store_download_link</label>
        <input type="text" class="form-control" id="store_download_link" name="store_download_link" required minlength="1">
      </div>
      <div class="form-group col-md-6">
        <label for="download_link">download_link</label>
        <input type="text" class="form-control" id="download_link" name="download_link" required minlength="1">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="detail_img_url">detail_img_url</label>
        <input type="file" id="detail_img_url" name="detail_img_url" accept="image/jpg,image/jpeg,image/png,image/gif" onchange="uploadUrl(this,'/public/img/App/')">
      </div>
      <div class="form-group col-md-4">
        <label>detail_img_url_path</label>
        <input type="text" class="form-control detail_img_url_path" id="detail_img_url" name="detail_img_url">
      </div>
      <div class="form-group col-md-2">
        <label for="slider_bg_url">slider_bg_url</label><br>
        <input type="file" id="slider_bg_url" name="slider_bg_url" accept="image/jpg,image/jpeg,image/png,image/gif" onchange="uploadUrl(this,'/public/img/App/')">
      </div>
      <div class="form-group col-md-4">
        <label>slider_bg_url_path</label>
        <input type="text" class="form-control slider_bg_url_path" id="slider_bg_url" name="slider_bg_url">
      </div>
      <div class="form-group col-md-2">
        <label for="icon_url">icon_url</label><br>
        <input type="file" id="icon_url" name="icon_url" accept="image/jpg,image/jpeg,image/png,image/gif" onchange="uploadUrl(this,'/public/img/App/')">
      </div>
      <div class="form-group col-md-4">
        <label>icon_url_path</label>
        <input type="text" class="form-control icon_url_path" id="icon_url" name="icon_url">
      </div>
      <div class="form-group col-md-2">
        <label for="enable_slide">enable_slide</label>
        <select id="enable_slide" name="enable_slide" required="required" class="form-control">
          <option selected>false</option>
          <option>true</option>
        </select>
      </div>
      <div class="form-group col-md-12">
        <hr>
      </div>
    </div>
<!--    <input style="display: none;" type="submit" id="subApp" value="submit" />-->
  </form>
  <form action="/newAppComment" method="POST" id="upLoad2" name="upLoad2" class="was-validated" encType="multipart/form-data">
    <h3>New AppComment</h3>
    <h5><span class="btn btn-secondary createBtn AppComment"><img src="/public/images/plus.svg" height="16" alt=""> Create</span></h5>
<!--    <input style="display: none;" type="submit" id="subAppComment" value="submit" />-->
  </form>
  <form action="/newAppFeature" method="POST" id="upLoad3" name="upLoad3" encType="multipart/form-data">
  <h3>New AppFeature</h3>
  <h5><span class="btn btn-secondary createBtn AppFeature"><img src="/public/images/plus.svg" height="16" alt=""> Create</span></h5>
<!--  <input style="display: none;" type="submit" id="subAppFeature" value="submit" />-->
  </form>
  <form action="/newBlog" method="POST" id="upLoad4" name="upLoad4" encType="multipart/form-data">
    <h3>New Blog</h3>
    <h5><span class="btn btn-secondary createBtn Blog"><img src="/public/images/plus.svg" height="16" alt=""> Create</span></h5>
<!--    <input style="display: none;" type="submit" id="subBlog" value="submit" />-->
  </form>
  <form action="/newFAQ" method="POST" id="upLoad5" name="upLoad5" class="was-validated" encType="multipart/form-data">
    <h3>New FAQ</h3>
    <h5><span class="btn btn-secondary createBtn FAQ"><img src="/public/images/plus.svg" height="16" alt=""> Create</span></h5>
<!--    <input style="display: none;" type="submit" id="subFAQ" value="submit" />-->
  </form>

  <button type="submit" id="btnUpload" class="btn btn-primary">Save</button>
  <a class="btn btn-secondary" href="/">View All</a>
</div>


<footer class="container">
  <div class="copyright">
    Copyright © 2021 Oka Apps Incorporated. All rights reserved.
  </div>
</footer>

<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="/public/js/cd.js"></script>
<script>

  function keyAppid(v){
    $('.appid_backup').val(v.value);
  }
  function keyLanguage(v){
    $('.language_backup').val(v.value);
  }
  function uploadUrl(v,str) {
    var pathArray = $(v).val().split('\\');
    var fileName = pathArray[pathArray.length-1];
    var ele = $(v).parent().next().children()[1];
    $(ele).val(str+fileName.replace('.jpg','.webp').replace('.png','.webp'))
  }

  function myCheck(form) {
    var f = document.getElementById(form);
    // console.log(f.elements);
    for(var i=0;i < f.length;i++) {
      if(f.elements[i].type !== 'file' && f.elements[i].value === "") {
        // alert("当前表单不能有空项");
        f.elements[i].focus();
        return false;
      }
    }
    return true;
  }

  $('#btnUpload').click( () => {
    if (myCheck('upLoad1')) {
      $('#upLoad1').submit();
      setTimeout(() => {
        if (myCheck('upLoad2')) {
          console.log('finished1');
          $('#upLoad2').submit();
          setTimeout(() => {
            if (myCheck('upLoad3')) {
              console.log('finished2');
              $('#upLoad3').submit();
              setTimeout(() => {
                if (myCheck('upLoad3')) {
                  console.log('finished3');
                  $('#upLoad4').submit();
                  setTimeout(() => {
                    if (myCheck('upLoad3')) {
                      console.log('finished4');
                      $('#upLoad5').submit();
                    }
                  },400)
                }
              },300);
            }
          },200);
        }
      },100);
    }
  });


  /*
  $('#btnUpload').click(async () => {
    try {
      console.log(123);
      // $('#upLoad1').submit();
      $('#subApp').click(() => {
        console.log(456);
        setTimeout(() => {
          console.log('finished1');
          // $('#upLoad2').submit();
          $('#subAppComment').click(() => {
            setTimeout(() => {
              console.log('finished2');
              // $('#upLoad3').submit();
              $('#subAppFeature').click(() => {
                setTimeout(() => {
                  console.log('finished3');
                  // $('#upLoad4').submit();
                  $('#subBlog').click(() => {
                    setTimeout(() => {
                      // $('#upLoad5').submit();
                      console.log('finished4');
                      $('#subFAQ').click();
                    },400)
                  });
                },300);
              });
            },200);
          });
        },100);
      });
    }
    catch (e) {
      console.log(e);
    }


  })
*/
</script>
</body>
</html>
